# Ignore the model itself
*.xmi

# Ignore output

outputcopy/

output/classes/**/*.md
output/datatypes/*.md
output/enumerations/*.md

!output/index.md
!output/classes/index.md
!output/datatypes/index.md
!output/enumerations/index.md
